### client
client
dev tun
proto {{ proto }}

# replace with ip address:
remote {{ serverip }} {{ port }}

resolv-retry infinite
nobind

# don't pull the routes form the server
;route-nopull

# client-defined route
# route <ip address> <nw mask>
# e.g.: route 195.201.201.33 255.255.255.255 

# Downgrade privileges after initialization (non-Windows only)
;user nobody
;group nobody

# Try to preserve some state across restarts.
persist-key
persist-tun

# ca ca.crt
# cert client.crt
# key client.key

tls-auth ta.key 1
cipher AES-256-CBC
verb 3
mute 20
