### server
dev tun

port {{ port }}
proto  {{ proto }}

### keys
ca ca.crt
cert {{ servername }}.crt
# This file should be kept secret
key {{ servername }}.key  
dh dh.pem

# This file is secret, 0 for servers, 1 for clients
tls-auth ta.key 0

cipher AES-256-CBC

topology subnet
server {{ subnet }}

ifconfig-pool-persist ipp.txt

# push dns options
push "dhcp-option DNS {{ dnsoption1 }}"
push "dhcp-option DNS {{ dnsoption2 }}"
push "dhcp-option DNS {{ dnsoption3 }}"
push "dhcp-option DNS {{ dnsoption4 }}"

# redirect all traffic to OpenVPN tunnel
push "redirect-gateway def1 bypass-dhcp" 

# redirect-gateway def1 bypass-dhcp stands for:
# route remote_host 255.255.255.255 net_gateway
# route 0.0.0.0 128.0.0.0 vpn_gateway
# route 128.0.0.0 128.0.0.0 vpn_gateway

client-to-client # clients to be able to "see" each other
keepalive 10 120
persist-key
persist-tun
status openvpn-status.log
verb 3
mute 20
user nobody
group nobody