<!DOCTYPE html>
<html>
  <head>
    <style>
      h3 {
        font-size: 1.5em;
          padding: 5px;
      } 
      body {
        line-height: 1.5;
        margin-left: 10px;
        font-family: Tahoma, Verdana, sans-serif;
        padding: 5px;
        border: none ;
      }
    </style>
  </head>
<title>Control Panel</title>
<body>
<div >
  <p>
    -------------------------------------------------------
  <br>
    Config files
  <br>
    -------------------------------------------------------
  </p>
    <ul>
{% for item in ovpnziplist %}
      <li><a href="files/{{ item | basename }}" target="_blank" download="{{ item | basename }}">{{ item | basename }}</a></li>
{% endfor %}
    </ul>
</div>

</body>
</html>

