### /etc/nginx/nginx.conf

user  nobody;
worker_processes  1;

events {
    worker_connections  1024;
}

http {
   log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                     '$status $body_bytes_sent "$http_referer" '
                     '"$http_user_agent" "$http_x_forwarded_for"';

   server {
       root {{ htmldir }} ;
       listen  80 default_server;
       server_name  _ ;
       return 302 https://$server_name$request_uri;
   }
   server {
       server_name  _ ;
       listen {{ port }} ssl default_server;
       include snippets/self-signed.conf;
       include snippets/ssl-params.conf;

       access_log  {{ logsdir }}/https.access.log  main;
   
       location / {
           root {{ htmldir }} ;
           index  index.html;
       }
   }
}
